<html>
<head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilo.css') }}"">
        <script type="text/javascript" src="{{url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
<div class="login-page">
  <div class="form">
    <form class="login-form" method="POST" action="{{url_for('loginUsuario')}}">
      <input type="text" placeholder="Email" name="email"  class="txt" />
      <input type="password" placeholder="Senha" name="senha" class="txt" />
      <input type="submit" value="Entrar" id="btnEnviar"/>
      <p class="message">Sem cadastro? <a href="{{url_for('paginaCadastroUsuario')}}">Cria sua conta</a></p>
    </form>
  </div>
</div>
</body>
</html>

